@model IEnumerable<mvcContosoUniversity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table class="table table-bordered" style="width:30%">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th class="text-center">
            Number of Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td class="text-center">
                @item.StudentCount
            </td>
        </tr>
    }
</table>
